[Unit]
Description=Minecraft
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/srv/minecraft
ExecStart=/usr/bin/java -Xms{{ pillar['minecraft']['memory'] }} -Xmx{{ pillar['minecraft']['memory'] }} -Dcom.mojang.eula.agree=true -jar spigot-{{ pillar['minecraft']['version'] }}.jar
Restart=always

[Install]
WantedBy=multi-user.target
